<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  

<section>
  <div class="content">
    <h1 class="header-text">
      {{ section.settings['header-text'] }}
    </h1>
    <h4>{{ section.settings['sub-header-text'] }}</h4>
  </div>
  <div class="iconos">
    {% for block in section.blocks %}
      <div>
        <img src=" {{ block.settings.icon | img_url: '300x' }}">
        <p>{{ block.settings['text-icon'] }}</p>
      </div>
    {% endfor %}
  </div>
  
  <div class="contendorcontacto">
<div class="contendorcontactotext">
<div class="align"> </div>
  <a class="BtnWhatsBan" href=" {{ section.settings.link }}"> 
    {{ section.settings.name-link }} 
    <i class='bx bxl-whatsapp'></i>
  </a>
</div>
</div>

  

  </div>
</section>

<style>
  .header-text h1 {
    font-size: calc(3.525rem + 1.3vw);
  }
  .header-text h4 {
    font-size: calc(3.525rem + 1.3vw);
  }

  .iconos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 4.3rem;
    padding: 2rem;
  }

  .iconos p {
    font-size: 24px;
    font-weight: bold;
  }
  .BtnWhatsBan {
    font-size: 3.4rem;
    display:block; 
    background: #348158; 
    padding: 0.5rem 2rem;
    color: #fff; 
    border-radius: 40px; 
    text-align:center;
    margin: 4rem;
    position: relative;
     }

     a.BtnWhatsBan {
    text-decoration: none;
    text-align: center;
}

    .contendorcontactotext {
            display: flex; 
            justify-content: center;
  }
</style>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "header-text",
      "label": "Text"
    },
    {
      "type": "text",
      "id": "sub-header-text",
      "label": "text"
    },{
        "type": "text",
        "id": "name-link",
        "label": "Link"
    },
    {
        "type": "url",
        "id": "link",
        "label": "link"
    }
  ],
  "blocks": [
    {
      "name": "iconos",
      "type": "iconos",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Selecciona una imagen"
        },
        {
          "type": "text",
          "id": "text-icon",
          "label": "Selecciona text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "iconos con texto"
    }
  ]
}
{% endschema %}
